@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
    transform: translateX(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.1s ease-out;
}

.react-datepicker {
  border-radius: 16px;
  border: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.react-datepicker__header {
  background-color: #fbbf24;
  border-bottom: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

